@import 'web-style_zcl.css';
@import 'web-style_yhq.css';

/*---------------------------------  public  --------------------------------*/

body {
  font-family: "Microsoft YaHei", sans-serif;
  min-width: 1200px;
  background: #fff;
  color: #666666;
}

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 1200px;
}

/* 图片自适应 */
img {
  max-width: 100%;
  height: auto;
  width: auto \9;
  /* ie8 */
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
  border: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
}

.warp {
  width: 100%;
  min-width: 1200px;
}

/*header*/
.header {
  height: 98px;
  border-bottom: 2px solid #10a050;
  background-color: #fff;

  .header-logo {
    padding-top: 10px;
    float: left;
  }
  .header-nav {
    margin-left: 70px;
    float: left;
    margin-top: 30px;
    li {
      float: left;
      margin-right: 55px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        font-size: 16px;
        line-height: 44px;
        color: #666666;
        font-weight: bold;
      }
      &:hover,&.active {
        a {
          color: #009a44;
        }
      }
    }
  }
  .header-other {
    float: right;
    font-weight: bold;
    padding-top: 37px;
    .other-tel {
      background: url("../images/tel.png") no-repeat left center;
      padding-left: 25px;
      font-size: 16px;
      line-height: 30px;
      color: #009a44;
      float: left;
    }
    .other-group {
      margin-left: 10px;
      float: left;
      a {
        display: block;
        width: 54px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px #dcdcdc;
        float: left;
        font-size: 12px;
        color: #666666;
        &:hover,&.current {
          border-color: #009a44;
          color: #fff;
          background-color: #009a44;
        }
      }
    }
    .other-a {
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #009a44;
      border-radius: 3px;
      float: left;
      font-size: 14px;
      color: #ffffff;
      margin-left: 10px;
      &:hover,&.current {
        border-color: #009a44;
        color: #fff;
        background-color: #009a44;
      }
    }
  }
}

/*footer*/
.footer {
  .footer-info {
    border-top: 1px solid #edeef0;
    background-color: #f8f8f8;
    padding-top: 12px;
    padding-bottom: 12px;
    .info-logo {
      padding-top: 20px;
      img {
        display: block;
      }
    }
    .info-group {
      background: url("../images/img-01.png") repeat-y top left;
      min-height: 80px;
      margin-left: 30px;
      padding-left: 30px;
      margin-top: 15px;
      .link-s {
        font-size: 12px;
        line-height: 20px;
        color: #999999;
        margin-bottom: 20px;
        span {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
        a {
          color: #999999;
          &:hover {
            color: #009a44;
          }
        }
      }
      .box-s {
        font-size: 12px;
        line-height: 24px;
        color: #999999;
        .icon-s {
          margin-right: 10px;
          img {
            vertical-align: middle;
            margin-top: -3px;
          }
        }
      }
    }
    .info-erwm {
      background: url("../images/img-01.png") no-repeat left center;
      padding-left: 30px;
      & > div {
        display: inline-block;
      }
      img {
        display: block;
        width: 108px;
        height: 108px;
      }
      .erwm-title {
        font-size: 16px;
        line-height: 18px;
        color: #999999;
        margin-left: 20px;
        & > div {
          float: left;
          width: 20px;
          text-align: center;
          vertical-align: top;
        }
      }
    }
  }
  .footer-copy {
    background-color: #666666;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    font-size: 14px;
    a {
      color: #fff;
    }
  }
}


/*bread-crumbs*/
.bread-crumbs {
  .b-l {
    background: url("../images/img-06.png") no-repeat 0 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 26px;
    padding-left: 26px;
    font-size: 14px;
    color: #666666;
    a {
      color: #666666;
    }
  }
}

/*page*/
.page {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  a {
    display: inline-block;
    margin: 0 3px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #666666;
    &:hover,&.current {
      background-color: #009a44;
      color: #fff;
    }
  }
}




/*other-main*/
.other-main {
  padding-top: 30px;
  padding-bottom: 50px;
}
.other-main-btm {
  padding-bottom: 50px;
}

.other-main-bg {
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 50px;
}


/*member-main*/
.member-main {
  .member-left {
    width: 260px;
  }
  .member-content {
    width: 860px;
    padding: 15px 30px 35px;
    min-height: 500px;
    background-color: #ffffff;
    box-shadow: 2px 1px 8px 0px
    rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    .content-title {
      border-bottom: 1px solid #f0f0f0;
      height: 52px;
      line-height: 52px;
      margin-bottom: 30px;
      .title-l {
        font-size: 18px;
        font-weight: bold;
        color: #333333;
      }

      .title-a {
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #009a44;
        border-radius: 3px;
        font-size: 14px;
        color: #ffffff;
        margin-top: 11px;
      }
      .title-txt {
        font-size: 14px;
        color: #333333;
        span {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          color: #009a44;
        }
      }
    }
  }

  .member-pres-info {
    background-color: #ffffff;
    box-shadow: 2px 1px 8px 0px
    rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    .box-header {
      margin-bottom: 25px;
      img {
        display: block;
        width: 130px;
        height: 130px;
        border: 1px solid #f1f1f1;
        border-radius: 100%;
        margin: 0 auto;
      }
    }
    .box-name {
      font-size: 18px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 10px;
    }
    .box-tel {
      margin-bottom:10px;
      span {
        background: url("../images/img-08.png") no-repeat left center;
        display: inline-block;
        padding-left: 16px;
        font-size: 12px;
        line-height: 30px;
        color: #999999;

      }
    }
    .box-other {
      a {
        display: inline-block;
        font-size: 12px;
        line-height: 30px;
        color: #999999;
        text-decoration: underline;
      }
    }

  }

  .member-menu {
    box-shadow: 2px 1px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 40px 0;
    background-color: #fff;
    overflow: hidden;
    a {
      display: block;
      border-left: 4px solid transparent;
      padding-left: 80px;
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover,&.current {
        border-left-color: #009a44;
        color: #009a44;
        background: url("../images/img-10.png") no-repeat right 20px center;
      }
    }
  }
}
