.form-cont {
  font-size: 14px;
  position: relative;
}
.form-cont .form-box {
  margin-bottom: 20px;
}
.form-cont .form-box.form-box-txt {
  margin-bottom: 10px;
}
.form-cont .form-left {
  width: 95px;
  line-height: 38px;
  color: #999999;
}
.form-cont .form-right {
  width: 765px;
}
.form-cont .form-head {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
.form-cont .form-head img {
  width: 130px;
  height: 130px;
  border: solid 1px #f0f0f0;
  border-radius: 50%;
}
.form-cont .form-head .up-head {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #009a44;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  display: block;
  margin: 20px auto 0;
}
.form-cont .form-inp {
  padding: 0 15px;
  height: 38px;
  line-height: 36px;
  border: 1px solid #dddddd;
  font-size: 13px;
  color: #666;
}
.form-cont .form-inp.inp-01 {
  width: 240px;
}
.form-cont .form-inp.inp-02 {
  width: 80px;
}
.form-cont .form-sel {
  height: 38px;
  line-height: 36px;
  border: 1px solid #dddddd;
  width: 270px;
}
.form-cont .form-txt {
  width: 520px;
  height: 120px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  line-height: 24px;
  color: #666;
}
.form-cont .form-text {
  font-size: 13px;
  color: #999999;
  line-height: 28px;
}
.form-cont .form-update .up-img {
  position: relative;
  width: 150px;
  float: left;
  margin-right: 25px;
}
.form-cont .form-update .up-img:last-child {
  margin-right: 0;
}
.form-cont .form-update .up-img img {
  display: block;
  width: 150px;
  height: 150px;
}
.form-cont .form-update .up-img .a-close {
  position: absolute;
  right: -5px;
  top: -10px;
}
.form-cont .form-update .up-img .a-close img {
  width: 20px;
  height: 20px;
}
.form-cont .form-update-02 .up-img {
  position: relative;
  float: left;
  margin-right: 7px;
}
.form-cont .form-update-02 .up-img.up-img-s {
  width: 250px;
}
.form-cont .form-update-02 .up-img:last-child {
  margin-right: 0;
}
.form-cont .form-update-02 .up-img img {
  display: block;
}
.form-cont .form-update-02 .up-img .a-close {
  position: absolute;
  right: -5px;
  top: -10px;
}
.form-cont .form-update-02 .up-img .a-close img {
  width: 20px;
  height: 20px;
}
.form-cont .form-btn {
  width: 152px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: none;
  background-color: #009946;
  font-size: 14px;
  color: #fff;
  display: inline-block;
}
.form-cont .form-txt-01 {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-top: 7px;
  padding-bottom: 7px;
}
.form-cont .form-list li {
  float: left;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  padding: 5px;
  line-height: 60px;
  text-align: center;
  margin-right: 10px;
}
.form-cont .form-list li:last-child {
  margin-right: 0;
}
.form-cont .form-list li img {
  display: inline;
  vertical-align: middle;
}
.form-cont .form-btn-group {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-cont .form-note {
  border-top: 1px solid #eeeeee;
  padding: 50px 0 50px 70px;
  position: relative;
}
.form-cont .form-note .box-title {
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  position: absolute;
  margin-left: -70px;
}
.form-cont .form-note .txt-s {
  width: 805px;
  height: 100px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
}
.form-cont .form-title {
  position: relative;
}
.form-cont .form-title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  border-bottom: 2px solid #cccccc;
}
.form-cont .form-title .title-l {
  position: relative;
  z-index: 99;
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  height: 62px;
  line-height: 62px;
  border-bottom: 2px solid #009a44;
}
.form-cont .form-tab-title {
  border-bottom: 1px solid #f0f0f0;
}
.form-cont .form-tab-title a {
  display: block;
  float: left;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 34px;
  line-height: 34px;
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  border-bottom: none;
  font-size: 16px;
  color: #666666;
  text-align: center;
}
.form-cont .form-tab-title a.current {
  border-color: #009a44;
  color: #333333;
}
.form-cont .form-tab-cont > div {
  display: none;
}
.form-cont .form-status {
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-cont .form-title-02 {
  font-size: 14px;
  font-weight: bold;
  color: #009a44;
  border-bottom: 1px solid #f0f0f0;
  height: 58px;
  line-height: 58px;
}
.member-mod-01 .m-menu {
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.member-mod-01 .m-menu span {
  margin-left: 18px;
  margin-right: 18px;
}
.member-mod-01 .m-menu a {
  display: inline-block;
  color: #666666;
}
.member-mod-01 .m-menu a.current {
  color: #009a44;
}
.member-mod-01 .box-s {
  border-bottom: 1px solid #f5f5f5;
  line-height: 68px;
  font-size: 14px;
}
.member-mod-01 .box-s .box-a {
  height: 68px;
  display: block;
  width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.member-mod-01 .box-s .box-date {
  color: #919191;
}
.member-mod-02 .box-class {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 18px;
  margin-bottom: 20px;
}
.member-mod-02 .box-class span {
  display: inline-block;
  line-height: 28px;
  margin-right: 20px;
  font-size: 14px;
  color: #666666;
}
.member-mod-02 .box-class a {
  height: 26px;
  line-height: 26px;
  border: solid 1px #d1d1d1;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  color: #7f7f7f;
  margin-right: 14px;
}
.member-mod-02 .box-class a.a-1:hover,
.member-mod-02 .box-class a.a-1.current {
  border-color: #009a44;
  color: #009a44;
}
.member-mod-02 .box-class a.a-2:hover,
.member-mod-02 .box-class a.a-2.current {
  border-color: #009a44;
  background-color: #13a152;
  color: #fff;
}
.member-mod-02 .box-class a.a-3:hover,
.member-mod-02 .box-class a.a-3.current {
  border-color: #fe6600;
  color: #fe6600;
}
.member-mod-02 .box-screen {
  color: #666666;
  height: 30px;
  line-height: 30px;
}
.member-mod-02 .box-screen > div {
  margin-right: 20px;
  float: left;
}
.member-mod-02 .box-screen > div:last-child {
  margin-right: 0;
}
.member-mod-02 .box-screen .box-search {
  width: 243px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #e6e6e6;
}
.member-mod-02 .box-screen .box-search .inp-s {
  height: 28px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  width: 170px;
}
.member-mod-02 .box-screen .box-search .btn-s {
  border: none;
  background: url("../images/img-21.png") no-repeat center center #fff;
  width: 30px;
  height: 30px;
}
.member-mod-02 .box-screen .box-date > div {
  float: left;
  position: relative;
}
.member-mod-02 .box-screen .box-date .inp-s {
  width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #e6e6e6;
}
.member-mod-02 .box-screen .box-date .a-s {
  position: absolute;
  right: 6px;
  top: 6px;
}
.member-mod-02 .box-screen .box-date .a-s img {
  display: block;
}
.member-mod-02 .box-screen .box-btn .btn-s {
  width: 90px;
  height: 30px;
  background-color: #009a44;
  display: inline-block;
  vertical-align: bottom;
  border: none;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.member-mod-02 .box-table table tr td {
  color: #999999;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}
.member-mod-02 .box-table table tr td .t-num {
  color: #333333;
}
.member-mod-02 .box-table table tr td .t-title {
  color: #333333;
}
.member-mod-02 .box-table table tr td .t-price {
  color: #666666;
}
.member-mod-02 .box-table table tr td .t-price {
  color: #666666;
}
.member-mod-02 .box-table table tr td .t-status {
  color: #666666;
}
.member-mod-02 .box-table table tr td .t-status.status-01 {
  color: #ff4e00;
}
.member-mod-02 .box-table table tr td .t-more {
  color: #666666;
}
.member-mod-02 .box-table table tr td .t-more:hover {
  color: #009a44;
  text-decoration: underline;
}
.member-mod-02 .box-table table tr.t-title td {
  height: 46px;
  line-height: 46px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f5f5f5;
}
.member-mod-02 .box-operation {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 30px;
  font-size: 13px;
  color: #999999;
}
.member-mod-02 .box-operation a {
  display: inline-block;
  font-size: 13px;
  color: #999999;
}
.member-mod-02 .box-operation input[type='checkbox'] {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.member-mod-03 table tr td {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 13px;
  color: #999999;
  line-height: 22px;
}
.member-mod-03 table tr td .td-01 span {
  color: #666666;
  margin-left: 10px;
}
.member-mod-03 table tr td .td-other {
  text-align: right;
}
.member-mod-03 table tr td .td-other > div {
  display: inline-block;
}
.member-mod-03 table tr td .td-other .col-01 {
  color: #333333;
}
.member-mod-03 table tr td .td-other .col-02 {
  color: #009a44;
}
.member-mod-03 table tr:last-child td {
  border-bottom: none;
}
.member-mod-04 {
  border-bottom: 2px solid #009a44;
  padding-bottom: 20px;
}
.member-mod-04 table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  color: #999999;
  line-height: 22px;
}
.member-mod-04 table tr td .td-01 {
  color: #666;
}
.member-mod-05 {
  border-top: 1px solid #f0f0f0;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-top: 45px;
}
.member-mod-05 .box-s .box-l {
  text-align: right;
  width: 270px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.member-mod-05 .box-s .box-r {
  width: 560px;
}
.member-mod-05 .box-s .text-01 {
  width: 350px;
  height: 130px;
  border: solid 1px #dcdcdc;
  padding: 6px;
  line-height: 22px;
}
/*# sourceMappingURL=web-style_zcl.css.map */