.form-cont {
  font-size: 14px;
  position: relative;

  .form-box {
    margin-bottom: 20px;

    &.form-box-txt {
      margin-bottom: 10px;
    }
  }

  .form-left {
    width: 95px;
    line-height: 38px;
    color: #999999;
  }

  .form-right {
    width: 765px;
  }

  .form-head {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;

    img {
      width: 130px;
      height: 130px;
      border: solid 1px #f0f0f0;
      border-radius: 50%;
    }

    .up-head {
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #009a44;
      border-radius: 3px;
      font-size: 14px;
      color: #ffffff;
      display: block;
      margin: 20px auto 0;
    }
  }

  .form-inp {
    padding: 0 15px;
    height: 38px;
    line-height: 36px;
    border: 1px solid #dddddd;
    font-size: 13px;
    color: #666;

    &.inp-01 {
      width: 240px;
    }

    &.inp-02 {
      width: 80px;
    }
    &.inp-03 {
      width: 400px;
    }
    &.inp-04 {
      width: 120px;
    }
  }

  .form-sel {
    height: 38px;
    line-height: 36px;
    border: 1px solid #dddddd;
    width: 270px;
  }
  .form-sel-02 {
    height: 38px;
    line-height: 36px;
    border: 1px solid #dddddd;
    width: 433px;
  }

  .form-txt {
    width: 520px;
    height: 120px;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    line-height: 24px;
    color: #666;
  }

  .form-txt-02 {
    width: 425px;
    height: 130px;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    line-height: 24px;
    color: #666;
  }

  .form-text {
    font-size: 13px;
    color: #999999;
    line-height: 28px;

  }

  .form-update {
    .up-img {
      position: relative;
      width: 150px;
      float: left;
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      img {
        display: block;
        width: 150px;
        height: 150px;
      }

      .a-close {
        position: absolute;
        right: -5px;
        top: -10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .form-update-02 {
    .up-img {
      position: relative;
      float: left;
      margin-right: 7px;

      &.up-img-s {
        width: 250px;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        display: block;
      }

      .a-close {
        position: absolute;
        right: -5px;
        top: -10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .form-btn {
    width: 152px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: none;
    background-color: #009946;
    font-size: 14px;
    color: #fff;
    display: inline-block;
  }

  .form-btn-02 {
    width: 150px;
    height: 42px;
    border: solid 1px #d2d2d2;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    display: inline-block;
    background-color: #fff;
    &:hover,&.current {
      border-color: #009946;
      background-color: #009946;
      color: #fff;
    }
  }
  .form-btn-03 {
    width: 222px;
    height: 40px;
    background-color: #009a44;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    border: none;
  }

  .form-txt-01 {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .form-list {
    li {
      float: left;
      width: 60px;
      height: 60px;
      background-color: #ffffff;
      border: solid 1px #d2d2d2;
      padding: 5px;
      line-height: 60px;
      text-align: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      img {
        display: inline;
        vertical-align: middle;
      }
    }
  }

  .form-btn-group {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form-note {
    border-top: 1px solid #eeeeee;
    padding: 50px 0 50px 70px;
    position: relative;

    .box-title {
      font-size: 16px;
      font-weight: bold;
      color: #323232;
      position: absolute;
      margin-left: -70px;
    }

    .txt-s {
      width: 805px;
      height: 100px;
      background-color: #ffffff;
      border: solid 1px #d2d2d2;
    }
  }

  .form-title {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      border-bottom: 2px solid #cccccc;
    }

    .title-l {
      position: relative;
      z-index: 99;
      display: inline-block;
      vertical-align: bottom;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      height: 62px;
      line-height: 62px;
      border-bottom: 2px solid #009a44;
    }
    .title-tel {
      background: url("../images/img-30.png") no-repeat left center;
      padding-left: 25px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #666666;
      margin-top: 23px;
    }
    .title-tel-02 {
      font-size: 14px;
      color: #666666;
      line-height: 62px;
      img {
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -3px;
      }
    }
  }

  .form-tab-title {
    border-bottom: 1px solid #f0f0f0;

    a {
      display: block;
      float: left;
      margin-right: 10px;
      padding-left: 15px;
      padding-right: 15px;
      height: 34px;
      line-height: 34px;
      background-color: #ffffff;
      border: solid 1px #f0f0f0;
      border-bottom: none;
      font-size: 16px;
      color: #666666;
      text-align: center;

      &.current {
        border-color: #009a44;
        color: #009a44;
      }
    }
  }

  .form-tab-cont {
    & > div {
      display: none;
    }
  }

  .form-status {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form-title-02 {
    font-size: 14px;
    font-weight: bold;
    color: #009a44;
    border-bottom: 1px solid #f0f0f0;
    height: 58px;
    line-height: 58px;
  }

  .add-box {
    .add-cont {
      width: 510px;
      line-height: 40px;
      .box-xq {
        .xq-title {
          font-size: 13px;
          color: #333333;
        }
        .xq-checkbox {
          span {
            margin-right: 20px;
            color: #bebebe;
          }
          input[type='checkbox'] {
            vertical-align: middle;
            margin-right: 5px;
            margin-top: -3px;
          }
        }
      }
    }
    .a-box {
      font-size: 13px;
      line-height: 40px;
      color: #13a152;
      font-weight: bold;
    }
  }
}

.member-mod-01 {
  .m-menu {
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;

    span {
      margin-left: 18px;
      margin-right: 18px;
    }

    a {
      display: inline-block;
      color: #666666;

      &.current {
        color: #009a44;
      }
    }
  }

  .box-list {
    .box-s {
      border-bottom: 1px solid #f5f5f5;
      line-height: 68px;
      font-size: 14px;

      .box-a {
        height: 68px;
        display: block;
        width: 700px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333333;
      }

      .box-date {
        color: #919191;
      }
    }
  }

  .box-list-02 {
    .box-s {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 30px;
      margin-bottom: 30px;
      font-size: 14px;
      .box-title {
        line-height: 34px;
        margin-bottom: 10px;
        .title-l {
          color: #666666;
          & > div {
            margin-right: 50px;
            float: left;
          }
        }

        .title-r {
          color: #c8c8c8;
        }
      }

      .box-cont {
        padding-right: 150px;
        position: relative;
        .a-reply {
          position: absolute;
          right: 0;
          top: 0;
          color: #999999;
          &:hover {
            color: #009a44;
          }
        }
        .box-txt {
          color: #999999;
          line-height: 24px;
          .r-name {
            color: #333333;
          }
        }
        .box-reply {
          position: relative;
          margin-top: 30px;
          color: #999999;
          line-height: 24px;
          background-color: #f5f5f5;
          border-radius: 5px;
          padding: 25px 30px;
          &:after {
            content: '';
            background: url("../images/img-24.png") no-repeat;
            width: 23px;
            height: 15px;
            position: absolute;
            top: -15px;
            left: 30px;

          }

          .replay-title {
            line-height: 34px;
            margin-bottom: 5px;
            .title-l {
              color: #333;
              & > div {
                margin-right: 50px;
                float: left;
              }
            }
            .title-r {
              color: #009a44;
            }
          }
          .replay-cont {
            border-bottom: 1px solid #d0d0d0;
            padding-bottom: 20px;
            margin-bottom: 15px;
            &:last-child {
              border-bottom: none;
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }

        .reply-form {
          display: none;
          .inp-s {
            width: 100%;
            box-sizing: border-box;
            height: 50px;
            background-color: #f2f2f2;
            border-radius: 4px;
            border: solid 1px #e5e5e5;
            padding: 0 15px;
            font-size: 14px;
            color: #666;
          }
          .btn-s {
            width: 90px;
            height: 30px;
            line-height: 30px;
            border: none;
            border-radius: 3px;
            background-color: #009a44;
            color: #fff;
            text-align: center;
          }
        }
      }
    }
  }
}

.member-mod-02 {
  .box-class {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 18px;
    margin-bottom: 20px;

    span {
      display: inline-block;
      line-height: 28px;
      margin-right: 20px;
      font-size: 14px;
      color: #666666;
    }

    a {
      height: 26px;
      line-height: 26px;
      border: solid 1px #d1d1d1;
      padding: 0 10px;
      display: inline-block;
      font-size: 14px;
      color: #7f7f7f;
      margin-right: 14px;

      &.a-1 {
        &:hover, &.current {
          border-color: #009a44;
          color: #009a44;
        }
      }

      &.a-2 {
        &:hover, &.current {
          border-color: #009a44;
          background-color: #13a152;
          color: #fff;
        }
      }

      &.a-3 {
        &:hover, &.current {
          border-color: #fe6600;
          color: #fe6600;
        }
      }
    }
  }

  .box-screen {
    color: #666666;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    & > div {
      margin-right: 20px;
      float: left;

      &:last-child {
        margin-right: 0;
      }
    }

    .box-search {
      width: 243px;
      height: 30px;
      line-height: 30px;
      border: solid 1px #e6e6e6;

      .inp-s {
        height: 28px;
        line-height: 28px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        width: 170px;
      }

      .btn-s {
        border: none;
        background: url("../images/img-21.png") no-repeat center center #fff;
        width: 30px;
        height: 30px;
      }
    }

    .box-date {
      & > div {
        float: left;
        position: relative;
      }

      .inp-s {
        width: 100px;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        background-color: #fff;
        border: solid 1px #e6e6e6;
      }

      .a-s {
        position: absolute;
        right: 6px;
        top: 6px;

        img {
          display: block;
        }
      }
    }

    .box-btn {
      .btn-s {
        width: 90px;
        height: 30px;
        background-color: #009a44;
        display: inline-block;
        vertical-align: bottom;
        border: none;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }

  .box-price-title {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    line-height: 30px;

    span {
      color: #ff3c00;
    }
  }

  .box-title {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;

    .title-l {
      font-size: 18px;
      font-weight: bold;
      color: #333333;
    }

    .title-btn {
      margin-right: 90px;
    }
  }

  .box-table {
    table {
      tr {
        td {
          color: #999999;
          text-align: center;
          font-size: 13px;
          border-bottom: 1px solid #f5f5f5;
          padding-top: 20px;
          padding-bottom: 20px;
          line-height: 30px;

          .t-num {
            color: #333333;
          }

          .t-title {
            color: #333333;
          }

          .t-price {
            color: #666666;
          }

          .t-price {
            color: #666666;
          }

          .t-status {
            color: #666666;

            &.status-01 {
              color: #ff4e00;
            }
            &.status-02 {
             color: #df1c1c;
            }
          }

          .t-more {
            color: #666666;

            &:hover {
              color: #009a44;
              text-decoration: underline;
            }
          }
        }

        &.t-title {
          td {
            height: 46px;
            line-height: 46px;
            padding-top: 0;
            padding-bottom: 0;
            background-color: #f5f5f5;
          }
        }
      }
    }
  }

  .box-operation {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
    font-size: 13px;
    color: #999999;
    &.operation-02 {
      padding-left: 18px;
    }

    a {
      display: inline-block;
      font-size: 13px;
      color: #999999;
    }

    input[type='checkbox'] {
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 5px;
    }
  }
}

.member-mod-03 {
  table {
    tr {
      td {
        border-bottom: 1px solid #f0f0f0;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 13px;
        color: #999999;
        line-height: 22px;

        .td-01 {
          span {
            color: #666666;
            margin-left: 10px;
          }
        }

        .td-other {
          text-align: right;

          & > div {
            display: inline-block;
          }

          .col-01 {
            color: #333333;
          }

          .col-02 {
            color: #009a44;
          }
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

.member-mod-04 {
  border-bottom: 2px solid #009a44;
  padding-bottom: 20px;

  table {
    tr {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        color: #999999;
        line-height: 22px;

        .td-01 {
          color: #666;
        }
      }
    }
  }
}

.member-mod-05 {
  border-top: 1px solid #f0f0f0;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-top: 45px;

  .box-s {
    .box-l {
      text-align: right;
      width: 270px;
      font-size: 14px;
      color: #333333;
      font-weight: bold;
      line-height: 38px;
    }

    .box-r {
      width: 560px;
    }

    .text-01 {
      width: 350px;
      height: 130px;
      border: solid 1px #dcdcdc;
      padding: 6px;
      line-height: 22px;
    }
  }
}

.member-mod-06 {
  .left-s{
    line-height: 36px;
    text-align: right;
    font-size: 14px;
    color: #666666;
    width: 130px;
    padding-right: 20px;
  }
  .right-s {
    width: 640px;
  }
  .star {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 11px;
  }
  .star-num {
    display: inline-block;
    line-height: 36px;
    font-size: 14px;
    color: #ff6c00;
    margin-left: 10px;
  }
}

.member-tab-list {
  .list-title {
    background: url("../images/img-32.png") no-repeat right center;
    padding-right: 40px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    cursor: pointer;
    .title-num {
      color: #009a44;
      font-weight: bold;
      margin-right: 40px;
    }
    .title-txt {
      color: #333333;
      font-weight: bold;
      span {
        width: 155px;
        display: inline-block;
      }
    }
    .title-time {
      color: #666666;
    }
  }
  .list-cont {
    display: none;
  }
  &.current {
    .list-title {
      background: url("../images/img-31.png") no-repeat right center;
      .title-txt {
        display: none;
      }
    }
    .list-cont {
      display: block;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 30px;
    }
  }
}

.member-mod-07 {
  .m-title {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .box-cont {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 30px;
  }
  .box-other {
    text-align: right;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    .price-s {
      color: #999999;
      display: inline-block;
      span {
        font-size: 16px;
        color: #009a44;
        font-weight: bold;
      }
    }
    .a-s {
      display: inline-block;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      font-weight: bold;
      color: #fff;
      &.a-1 {
        background-color: #009a44;
      }
      &.a-2 {
        background-color: #e96f2d;
      }
    }
  }
}

.member-mod-08 {
  margin-bottom: 40px;
  .box-s {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-bottom: 20px;
    & > div {
      float: left;
    }
    .box-name {
      width: 140px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border: 2px solid #333;
      color: #666666;
    }
    .box-txt {
      span {
        display: inline-block;
        margin-right: 20px;
      }
    }
    .box-tag {
      height: 20px;
      background-color: #999999;
      line-height: 20px;
      padding: 0 8px;
      color: #ffffff;
      font-size: 12px;
      margin-top: 5px;
    }
    .box-a {
      color: #666666;
      &:hover {
        color: #009a44;
      }
    }
    &.current {
      .box-name {
        border-color:#009a44;
        background: url("../images/qpic11.png") no-repeat right -1px bottom -1px;
      }
    }
  }
  .box-more-add {
    display: inline-block;
    background: url("../images/img-34.png") no-repeat right center;
    padding-right: 20px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-size: 14px;
  }
}

.member-mod-09 {
  .box-top {
    border-bottom: 1px solid #f0f0f0;
    padding-top: 30px;
    padding-bottom: 50px;
    .a-box {
      display: block;
      float: left;
      border: solid 2px #f0f0f0;
      margin-right: 20px;
      position: relative;
      img {
        display: block;
        width: 141px;
        height: 46px;
      }
      &.current {
        border-color: #009a44;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 14px;
          height: 14px;
          background: url("../images/img-33.png") no-repeat right bottom;
        }

      }
    }
  }
  .box-btn {
    width: 152px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: none;
    background-color: #009946;
    font-size: 14px;
    color: #fff;
    display: inline-block;
  }
}


.member-mod-10 {
  .m-title {
    margin-bottom: 40px;
    a {
      width: 120px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      display: inline-block;
      background-color: #fff;
      border: solid 1px #d2d2d2;
      font-size: 14px;
      color: #666666;
      font-weight: bold;
      &.current {
        border: solid 1px #009a44;
        background: url("../images/img-33.png") no-repeat right bottom #fff;
      }
    }
  }
}


















